<div class="container">
  <uib-tabset active="ctrl.tab">

  <!--  USERS TAB-->
    <uib-tab index="0" ui-sref="admin" heading="Users" >
        <ul class="list-group user-list">
          <li class="list-group-item" ng-repeat="user in ctrl.users">
      	    <div class="user-info">
      	        <strong>{{user.name}}</strong><br>
      	        <span class="text-muted">{{user.email}}</span><br>
      	        <span class="text-muted">{{user.type}}</span>
      	    </div>
              <a ng-click="ctrl.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
          </li>
        </ul>
    </uib-tab>

    <!--  ADMIN TAB -->
    <uib-tab index="1"  ui-sref="admin" heading="Admins">
        <h4>Add New Admin</h4>
        <div class="flex-row">
            <div>Email:</div>
            <input type="text" ng-model="selected" uib-typeahead="user as user.email for user in ctrl.users  | limitTo:8" class="form-control">
            <button ng-click="ctrl.promote(selected)" class="btn btn-primary">Add</button>
        </div>

        <h3>Current Admins</h3>
        <ul class="list-group user-list">
          <li class="list-group-item" ng-repeat="user in ctrl.admins">
      	    <div class="user-info">
      	        <strong>{{user.name}}</strong><br>
      	        <span class="text-muted">{{user.email}}</span><br>
      	    </div>
              <a ng-click="ctrl.revoke(user)" class="trash"><button class="btn btn-danger">Revoke</button></a>
          </li>
        </ul>
    </uib-tab>
    <uib-tab index="2" heading="Classes" ui-sref='admin.classes'>
    </uib-tab>
    <uib-tab index="3" heading="Students" ui-sref='admin.students'>
    </uib-tab>
    <uib-tab index="4" heading="Volunteers" ui-sref='admin.volunteers'>
    </uib-tab>
    <uib-tab index="5" heading="Scheduling" ui-sref='admin.scheduling'>
    </uib-tab>
  </uib-tabset>
  <div ui-view=""></div>
</div>
