<div class="container">
  <uib-tabset active="ctrl.tab">
    <uib-tab index="0" heading="Scheduling" ui-sref='admin'>
        <div class="admin-scheduling-section">
            <class-calendar ng-if="ctrl.tab==0" on-select="ctrl.sessionSelected(session)" selected-session="ctrl.selectedSession"></class-calendar>
            <div ng-show="ctrl.selectedSession" class="session-section">

                <!-- session volunteer and student section -->
                <uib-tabset active="active">

                    <uib-tab index="0" heading="Volunteers">

                        <div class="volunteers-section">
                            <h3>Promised Attendance</h3>
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Attendance</th>
                                </tr>
                                <tr ng-repeat="vol in ctrl.selectedSession.SessionVolunteers | filter:{plannedAttendance:'!'+'No'}">
                                    <td>{{vol.User.name}}</td>
                                    <td>{{vol.User.email}}</td>
                                    <td>{{vol.User.phone}}</td>
                                    <td class="right-col">
                                        <select class="form-control" ng-model="vol.plannedAttendance" ng-options="attendance for attendance in ctrl.planned_attendance_options" ng-change="ctrl.changePlannedAttendance(vol)"></select>
                                    </td>
                                </tr>
                            </table>
                            <div ng-show="ctrl.selectedSession.SessionVolunteers.length == 0" class="">
                                No volunteers are assigned to this session.
                            </div>
                        </div>

                        <div ng-show="ctrl.selectedSession" class="students-section">
                            <div class="student-section">
                                <h3>Attendance</h3>
                                <table class="table">
                                    <tr>
                                        <th>Name</th>
                                        <th style="text-align:center;">Attendance</th>
                                    </tr>
                                    <tr class="student" ng-repeat="volunteer in ctrl.selectedSession.SessionVolunteers | filter:{plannedAttendance:'!'+'No'}">
                                        <td>{{volunteer.User.name}}</td>
                                        <td class="right-col">
                                            <select class="form-control" ng-model="volunteer.attendance" ng-options="attendance for attendance in ctrl.attendance_options" ng-change="ctrl.markAttendance(volunteer)"></select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab index="1" heading="Students">
                        <h3>Attendance</h3>
                            <div class="students-section">
                                <h4>Registered Students</h4>
                                <table class="table">
                                    <tr>
                                        <th>Name</th>
                                        <th style="text-align:center;">Attendance</th>
                                    </tr>
                                    <tr ng-if="student.status != 'pending'" class="student" ng-repeat="student in ctrl.selectedSession.Class.ClassStudents">
                                        <td>{{student.User.name}}</td>
                                        <td class="right-col">
                                            <select class="form-control" ng-model="student.SessionStudent.attendance" ng-options="attendance for attendance in ctrl.attendance_options" ng-change="ctrl.updateAttendance(student)"></select>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                            <div ng-show="ctrl.class.ClassStudents.length == 0">No students registered</div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>

    </uib-tab>
    <uib-tab index="1" heading="Classes" ui-sref='admin.classes'>
    </uib-tab>
    <uib-tab index="2" heading="Students" ui-sref='admin.students'>
    </uib-tab>
    <uib-tab index="3" heading="Volunteers" ui-sref='admin.volunteers'>
    </uib-tab>
  <!--  USERS TAB-->
    <uib-tab index="4" ui-sref="admin.users" heading="Users" >
    </uib-tab>

    <!--  ADMIN TAB -->
    <uib-tab index="5"  ui-sref="admin.admins" heading="Admins">
        
    </uib-tab>
    <uib-tab index="6" heading="Reports" ui-sref='admin.reports'>
    </uib-tab>
  </uib-tabset>
  <div ui-view=""></div>
</div>
