<div class="container">
    <h1>Recover Password</h1>
  <div class="row" ng-show="vm.validToken" >
    <div class="col-sm-12">
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.update(form)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': (form.confirmPassword.$invalid || !vm.match) && vm.submitted}">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.confirmPassword"
                 match="vm.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="!vm.match && vm.submitted">
            Passwords must match.
          </p>
        </div>

        <div>
            <button class="btn btn-default btn-register" type="submit">
                Change Password
            </button>
        </div>

        <hr/>
      </form>
    </div>
  </div>
  <div ng-show='vm.invalidToken'>
      Your token is either invalid or expired, please request a new password reset email.
  </div>
  <hr>
</div>
