<div ng-show="ctrl.class" class="class-editor">
    <div ng-if="(ctrl.class.ClassStudents | filter:{status:'pending'}).length > 0" class="section student-section">
        <h4>Pending Students</h4>
        <div class="student"  ng-repeat="student in ctrl.class.ClassStudents | filter:{status:'pending'}">
            {{student.User.name}} <button class="btn btn-primary" ng-click="ctrl.approve(student)">Approve</button>
        </div>
    </div>
    <div class="section student-section" ng-if="(ctrl.class.ClassStudents | filter:{status:'Active'}).length > 0" >
        <h4>Registered Students</h4>
        <div class="student" ng-repeat="student in ctrl.class.ClassStudents | filter:{status:'Active'}">
            {{student.User.name}}
        </div>
    </div>
    <div ng-show="ctrl.class.ClassStudents.length == 0">No students registered</div>
</div>
<h3 ng-hide="ctrl.class">Select a class</h3>
