.class-editor{
    .section{
        margin-bottom:15px;
    }
    .student{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
