<div class="admin-volunteers-section">
    <div class="pane">
        <div class="volunteers-section">
            <h3>Volunteers</h3>
            <div class="class" ng-repeat="class in ctrl.volunteers">
                <div>
                    Name: <span class="class-name" ng-click="ctrl.selectedVolunteer = class"> {{class.name}} </span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-remove" ng-click="ctrl.removeVolunteer(class)"></span>
                </div>
            </div>
        </div>

        <div class="new-class-section">
            <h3>Add a new class</h3>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="ctrl.newVolunteer.name"/>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" ng-model="ctrl.newVolunteer.info"/>
            </div>

            <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" ng-model="ctrl.newVolunteer.location"/>
            </div>

            <div class="form-group">
                <label>Days</label>
                <input type="text" class="form-control" ng-model="ctrl.newVolunteer.days"/>
            </div>

            <div class="form-group">
                <label>Start Time</label>
                <input type="time" class="form-control" ng-model="ctrl.newVolunteer.startTime" placeholder="HH:mm" required />
            </div>

            <div class="form-group">
                <label>End Time</label>
                <input type="time" class="form-control" ng-model="ctrl.newVolunteer.endTime" placeholder="HH:mm" required />
            </div>
            <button class="btn btn-primary" ng-click="ctrl.addVolunteer()">Add</button>
        </div>
    </div>
    <div class="right-pane">
        <class-editor class="ctrl.selectedVolunteer"></class-editor>
    </div>
</div>
