<div class="container">
  <h2>Welcome to the student section</h2>


<!-- LOOK AT https://angular-ui.github.io/bootstrap/ FOR
DOCS ON USEFUL COMPONENTS TO USE FOR THE UI (like uib-tabset),
 IT IS JUST PLUG AND PLAY, NO IMPORTING OR ANYTHING REQUIRED-->

  <uib-tabset active="active">

    <uib-tab index="0" heading="Classes">

      <div class="admin-classes-section">
        <div class="pane">
          <div class="classes-section">
              <h3>Classes</h3>
              <div class="class" ng-repeat="class in ctrl.classes">
                  <div>
                      Name: <span class="class-name"> {{class.name}} </span>
                  </div>
                    <div>
                      <span class="glyphicon glyphicon-plus" ng-click="ctrl.registerStudent(class)"></span>
                      <span ng-show=class.added>Added</span>
                  </div>

              </div>
          </div>
        </div>
      </div>


    </uib-tab>

    <uib-tab index="1" heading="Another Section">
        Static content goes here
    </uib-tab>

    <uib-tab index="2" heading="Last Tab">
        You can put more content here
    </uib-tab>

  </uib-tabset>

</div>
