<div class="container">
  <h2>Welcome to the student section</h2>


<!-- LOOK AT https://angular-ui.github.io/bootstrap/ FOR
DOCS ON USEFUL COMPONENTS TO USE FOR THE UI (like uib-tabset),
 IT IS JUST PLUG AND PLAY, NO IMPORTING OR ANYTHING REQUIRED-->

  <uib-tabset active="active">
     
       <uib-tab index="0" heading="My Classes" ng-click="ctrl.myclasses()">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Location</th>                    
                    <th>Start Date</th>                    
                    <th>End Date</th>                    
                    <th>Time</th>                    
                    <th>Status</th>                    
                </tr>
                <tr ng-repeat="class in ctrl.my_classes">
                    <td>{{class.Class.name}}</td>
                    <td>{{class.Class.location}}</td>
                    <td>{{class.Class.startDate | date : format : shortDate }}</td>
                    <td>{{class.Class.endDate | date : format : shortDate }}</td>
                    <td>{{class.Class.startTime | date: 'HH:mm a' }} to {{class.Class.endTime | date: 'HH:mm a' }}</td>
                    <td>{{class.status}}</td>
                </tr>
            </table>
    </uib-tab>

        <uib-tab index="1" heading="All Classes">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Location</th>                    
                    <th>Start Date</th>                    
                    <th>End Date</th>                    
                    <th>Time</th>                    
                    <th>Request</th>                    
                </tr>
                <tr ng-repeat="class in ctrl.classes">
                    <td>{{class.name}}</td>
                    <td>{{class.location}}</td>
                    <td>{{class.startDate | date : format : shortDate }}</td>
                    <td>{{class.endDate | date : format : shortDate }}</td>
                    <td>{{class.startTime | date: 'HH:mm a' }} to {{class.endTime | date: 'HH:mm a' }}</td>
                    <td ng-if="ctrl.showRequest(class)"> 
                        <button ng-if="class.added == True" ng-click="ctrl.registerStudent(class)" class="btn btn-primary">Request</button>
                        <span ng-if="class.added != True">Requested</span>
                    </td>
                    <td ng-if="!ctrl.showRequest(class)">
                        Requested
                    </td>
                </tr>
            </table>


          <!--<div class="test-class" ng-repeat="class in ctrl.classes">
              <Name:></Name:>
              {{class.name}}<br>
              Location:
              {{class.location}}<br>
              Dates:
              {{class.days}}<br>
              Time:
              {{class.startTime | date:'MM/dd/yyyy' }} to {{class.endTime | date:'MM/dd/yyyy' }}<br>  

              <div ng-if="ctrl.showRequest(class)">
                   <button ng-if="class.added == True" ng-click="ctrl.registerStudent(class)" class="btn btn-primary">Request</button>
                   <span ng-if="class.added != True">Requested</span>
              </div>
              <div ng-if="!ctrl.showRequest(class)">
                   Requested
              </div>
            </div>-->
    </uib-tab>

    <uib-tab index="2" heading="Profile">
        <div class="test-class">
            Name:
            {{ctrl.myUser.name}}<br>
            Email:
            {{ctrl.myUser.email}}<br>
            Role:
            {{ctrl.myUser.role}}<br>
            Organization:
            {{ctrl.myUser.organization}}<br>
            Primary Language:
            {{ctrl.myUser.primaryLanguage}}<br>
            Added on:
            {{ctrl.myUser.createdAt | date }}<br>
            <button>Edit</button>
        </div>
    </uib-tab>

  </uib-tabset>

</div>
