<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>
          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                              'has-error': form.name.$invalid && vm.submitted }">
              <label>I am a ...</label>

                <div class="radio">
                  <label><input type="radio" name="type" value="student" ng-model="vm.user.type" selected>Student</label>
                </div>
                <div class="radio">
                  <label><input type="radio" value="volunteer" name="type" ng-model="vm.user.type">Volunteer</label>
                </div>
         </div>
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>
        <div class="form-group" ng-if="vm.user.type=='student'">
            <label>Gender</label>

            <select ng-model="vm.user.gender" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

        </div>
        <div class="form-group" ng-if="vm.user.type=='student'">
            <label>Grade</label>
            <select ng-model="vm.user.grade" class="form-control">
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
                <option value="5">5th</option>
                <option value="6">6th</option>
                <option value="7">7th</option>
                <option value="8">8th</option>
                <option value="9">9th</option>
                <option value="10">10th</option>
                <option value="11">11th</option>
                <option value="12">12th</option>
            </select>

        </div>
        <div class="form-group" ng-if="vm.user.type=='student'">
            <label>Community</label>
            <input type="text" class="form-control" ng-model="vm.user.community"/>

        </div>
        <div class="form-group" ng-if="vm.user.type=='student'">
            <label>Primary Language</label>
            <input type="text" class="form-control" ng-model="vm.user.primaryLanguage"/>

        </div>
        <div class="form-group" ng-if="vm.user.type=='volunteer'">
          <label>Organization</label>

          <input type="text" name="organization" class="form-control" ng-model="vm.user.organization"/>

        </div>
        <div class="form-group" ng-if="vm.user.type=='volunteer'">
          <label>Phone Number</label>

          <input type="text" name="phone" class="form-control" ng-model="vm.user.phone"/>

        </div>
        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>
        <div ng-repeat="error in vm.errors" style="color:red;">
            *{{error.message}}
        </div>
        <div>
          <button class="btn btn-default btn-register" type="submit">
            Sign up
          </button>
        </div>

        <hr/>
      </form>
    </div>
  </div>
  <hr>
</div>
