<div class="class-modal">
    <div class="modal-header">
        <h3>{{ctrl.$resolve.student.name}} Classes</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <table class="table table-sm">
            <tr>
                <th>Class Name</th>
                <th>Student Status</th>
                <th>Attendance</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="(key, studClass) in ctrl.addedStudents">
                <td>{{key}}</td>
                <td>{{studClass.classData.status}}</td>
                <td>
                    <ul ng-repeat="attend in studClass.attendance" style="padding-left: 0px;">
                        <li ng-if="attend.attendance">{{attend.attendance}}: {{attend.count}}</li>
                    </ul>
                </td>
                <td ng-if="studClass.classData.status == 'Active'">
                    <button class="btn btn-warning" ng-click="ctrl.approveStudent(studClass.classData)">Remove</button>
                </td>
                <td ng-if="studClass.classData.status != 'Active'">
                    <button class="btn btn-primary" ng-click="ctrl.approveStudent(studClass.classData)">Approve</button>
                </td>
            </tr>
            <tr>
                <th>Totals</th>
                <td></td>
            </tr>
            
            <tr>
              <td>Total Sessions</td>
              <td>{{ctrl.totalSessions}}</td>
            </tr>
            <tr>
              <td>Total Attended</td>
              <td>{{ctrl.totalAttended}}</td>
            </tr>
        </table>
        <h3>Not Registered Classes</h3>
        <table class="table table-sm">
            <tr>
                <th>Class Name</th>
                <th>Student Status</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="(key, studClass) in ctrl.notAddedStudents">
                <td>{{key}}</td>
                <td>Not Registered</td>
                <td>
                    <button class="btn btn-primary" ng-click="ctrl.registerStudent(studClass)">Register</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ctrl.close()">Close</button>
    </div>
</div>
