<div class="class-modal">
    <div class="modal-header">
        <h3>{{ctrl.$resolve.student.name}} Classes</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <table class="table table-sm">
            <tr>
                <th>Class Name</th>
                <th>Student Status</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="(key, studClass) in ctrl.addedStudents">
                <td>{{key}}</td>
                <td>{{studClass.status}}</td>
                <td ng-if="studClass.status == 'Active'">
                    <button class="btn btn-warning" ng-click="ctrl.approveStudent(studClass)">Remove</button>
                </td>
                <td ng-if="studClass.status != 'Active'">
                    <button class="btn btn-primary" ng-click="ctrl.approveStudent(studClass)">Approve</button>
                </td>
            </tr>
        </table>
        <h3>Not Registered Classes</h3>
        <table class="table table-sm">
            <tr>
                <th>Class Name</th>
                <th>Student Status</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="(key, studClass) in ctrl.notAddedStudents">
                <td>{{key}}</td>
                <td>Not Registered</td>
                <td>
                    <button class="btn btn-primary" ng-click="ctrl.registerStudent(studClass)">Register</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ctrl.close()">Close</button>
    </div>
</div>
