<div class="admin-volunteer-section">
    <div class="pane">
        <table class="volunteer_table table" style="width:100%;">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Role</td>
                <td>Date Added</td>
                <td>Show Classes</td>
            </tr>
            <tr class="volunteer_row" ng-repeat="stud in ctrl.students" ng-click="ctrl.select(stud)">
                <td>{{stud.name}}</td>
                <td>{{stud.email}}</td>
                <td>{{stud.role}}</td>
                <td></td>
                <td><button class="btn btn-primary" ng-click="ctrl.showStudents(stud)">Show</button></td>
            </tr>
        </table>
        Selected Students Classes
        <table class="table table-sm">
            <tr>
                <th>Class Name</th>
                <th>Student Status</th>
            </tr>
            <tr ng-repeat="test in ctrl.selectedStudent">
                <td>{{test.Class.name}}</td>
                <td>{{test.status}}</td>
            </tr>
        </table>

<!--         <div class="new-Student-section">
            <h3>Add a new Student</h3>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="ctrl.newStudent.name"/>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" ng-model="ctrl.newStudent.info"/>
            </div>

            <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" ng-model="ctrl.newStudent.location"/>
            </div>

            <div class="form-group">
                <label>Days</label>
                <input type="text" class="form-control" ng-model="ctrl.newStudent.days"/>
            </div>

            <div class="form-group">
                <label>Start Time</label>
                <input type="time" class="form-control" ng-model="ctrl.newStudent.startTime" placeholder="HH:mm" required />
            </div>

            <div class="form-group">
                <label>End Time</label>
                <input type="time" class="form-control" ng-model="ctrl.newStudent.endTime" placeholder="HH:mm" required />
            </div>
            <button class="btn btn-primary" ng-click="ctrl.addStudent()">Add</button>
        </div> -->
    </div>
    
</div>
