<div class="admin-volunteer-section">
    <div class="pane">
        <table class="volunteer_table table" style="width:100%;">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Role</td>
                <td>Date Added</td>
                <td>Classes</td>
                <td>Edit</td>
            </tr>
            <tr class="volunteer_row" ng-repeat="stud in ctrl.students">
                <td>{{stud.name}}</td>
                <td>{{stud.email}}</td>
                <td>{{stud.role}}</td>
                <td></td>
                <td><button class="btn btn-primary" ng-click="ctrl.showStudents(stud)">Show</button></td>
                <td><button class="btn btn-primary" ng-click="ctrl.select(stud)">Edit</button></td>
            </tr>
        </table>

        <div ng-if="!ctrl.showAdd && ctrl.selectedStudent">
            <h3>Selected Students Classes</h3>
            <table class="table table-sm">
                <tr>
                    <th>Class Name</th>
                    <th>Student Status</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="studClass in ctrl.selectedStudent">
                    <td>{{studClass.Class.name}}</td>
                    <td>{{studClass.status}}</td>
                    <td ng-if="studClass.status == 'Active'">
                        <button class="btn btn-warning" ng-click="ctrl.approveStudent(studClass)">Remove</button>
                    </td>
                    <td ng-if="studClass.status != 'Active'">
                        <button class="btn btn-primary" ng-click="ctrl.approveStudent(studClass)">Approve</button>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-if="!ctrl.showAdd && ctrl.showStudentsEdit" class="edit-student-section">
            <h3>Edit {{ctrl.showStudentsEdit.name}}</h3>
            <div class="form-group">
                <label>Name</label>
                <input ng-blur="ctrl.updateStudent()" type="text" class="form-control" ng-model="ctrl.showStudentsEdit.name"/>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input ng-blur="ctrl.updateStudent()" type="text" class="form-control" ng-model="ctrl.showStudentsEdit.email"/>
            </div>
            <button class="btn btn-primary" ng-click="ctrl.updateStudent()">Save</button>
        </div>
    </div>
    
</div>
