<div class="admin-scheduling-section">
    <div class="calendar">
        <div class="nav-buttons">
            <button class="btn btn-primary" ng-click="ctrl.previousWeek()">Previous</button>
            <button class="btn btn-primary" ng-click="ctrl.currentWeek()">Current</button>
            <button class="btn btn-primary" ng-click="ctrl.nextWeek()">Next</button>
        </div>
        <div class="day-section">
            <div class="day" ng-repeat="day in ctrl.days">
                <div class="day-header">
                    <div class="day-name">
                        {{day.format("ddd")}}
                    </div>
                    <div class="day-number">
                        {{day.format("M/D")}}
                    </div>
                </div>
                <div class="day-body">
                    <div class="session" ng-click="ctrl.createSession(class,day)" ng-repeat="class in ctrl.classes | filter:{day: day.format('dddd')} | orderBy: 'startTime'">
                        {{class.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="ctrl.selectedSession" class="session-section">
        <div class="session-header">
            <div class="class-name">
                {{ctrl.selectedSession.Class.name}}
            </div>
            <div class="">
                {{ctrl.selectedDate.format("M/D")}}
            </div>
        </div>
        <div class="session-info">
            <div class="time">
                <strong>Start Time:</strong> {{ctrl.selectedSession.Class.startTime | date: 'HH:mm a'}}
            </div>
            <div class="location">
                <strong>Location:</strong> {{ctrl.selectedSession.Class.location}}
            </div>
        </div>
        <div class="volunteers-section">
            <h3>Volunteers</h3>
            <div class="assigned-volunteers">
                <h4>Assigned</h4>
                <div class="assigned volunteer" ng-repeat="volunteer in ctrl.selectedSession.SessionVolunteers">
                    <div>
                        {{volunteer.User.name}}
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="ctrl.removeFromSession(volunteer)">Remove</button>
                    </div>
                </div>
                <div ng-show="ctrl.selectedSession.SessionVolunteers.length == 0" class="">
                    No volunteers are assigned to this session.
                </div>
            </div>
            <div class="interested-volunteers">
                <h4>Interested</h4>
                <div ng-if="ctrl.notInSession(volunteer)" class="interested volunteer" ng-repeat="volunteer in ctrl.selectedSession.Class.ClassVolunteers">
                    <div>
                        {{volunteer.User.name}}
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="ctrl.assignToSession(volunteer)">Assign</button>
                    </div>
                </div>
                <div ng-show="ctrl.selectedSession.Class.ClassVolunteers.length == 0" class="">
                    No volunteers have shown interest in this course.
                </div>
            </div>
        </div>
    </div>
    <div ng-show="ctrl.selectedSession" class="session-attendance-section">
        <div class="session-header">
            <h3>{{ctrl.selectedSession.Class.name}} Attendance</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Attended</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="volunteer in ctrl.selectedSession.SessionVolunteers">
                    <td>{{volunteer.User.name}}</td>
                    <td>
                        <select class="form-control" ng-if="volunteer.saved == false" ng-model="volunteer.attendance" ng-options="attendance for attendance in ctrl.attendance_options" ng-change="ctrl.markAttendance(volunteer)"></select>
                        <p ng-if="volunteer.saved != false">{{volunteer.attendance}}</p><br>
                        Saved: {{volunteer.saved}}<br>
                        Attendance: {{volunteer.attendance}}<br>
                        ShowEdit: {{volunteer.showEdit}}
                    </td>
                    <td>
                        <button ng-if="volunteer.saved == false" ng-click="ctrl.saveAttendance(volunteer)" class="btn btn-primary">Save</button>
                        <button ng-if="volunteer.saved == true" ng-click="ctrl.editAttendance(volunteer)" class="btn btn-warning">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
