<div class="class-modal">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add New Class</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form>
            <label for="name">Name</label>
            <input class="form-control" id="name" ng-model="ctrl.$resolve.class.name" />
            <label for="location">Location</label>
            <input class="form-control" id="location" ng-model="ctrl.$resolve.class.location" />
            <label for="startTime">Start Time</label>
            <div uib-timepicker ng-model="ctrl.$resolve.class.startTime" ng-change="changed()" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian"></div>
            <label for="endTime">End Time</label>
            <div uib-timepicker ng-model="ctrl.$resolve.class.endTime" ng-change="changed()" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian"></div>
            <label for="startDate">Start Date</label>
            <div>
                <div class="row">
                  <div class="col-md-6">
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ctrl.$resolve.class.startDate" is-open="ctrl.popup1.opened" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>
                </div>

                <hr />
            </div>
            <label for="endDate">End Date</label>
            <div>
                <div class="row">
                  <div class="col-md-6">
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ctrl.$resolve.class.endDate" is-open="ctrl.popup2.opened" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="ctrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>
                </div>
                <hr/>
            </div>
            <label>Day</label>
            <select class="form-control" ng-model="ctrl.$resolve.class.day" ng-options="day as day for day in ctrl.dayOptions"></select>
            <label for="info">Info</label>
            <textarea rows="5" class="form-control" id="info" ng-model="ctrl.$resolve.class.info" ></textarea>
            <hr />
            <div class="form-group">
                <label>
                    Class Document
                </label>
                <div class="selector" ng-if="!ctrl.uploading">
                    <input type="file" nv-file-select uploader="ctrl.uploader"/><br/>
                    <a download="{{ctrl.$resolve.class.documentName}}" ng-href="{{ctrl.$resolve.class.documentURL}}" target="_blank">{{ctrl.$resolve.class.documentName}}</a>
                </div>
                <div class="waiting" ng-show="ctrl.uploading">Please Wait...</div><br/>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.addClass(ctrl.$resolve.class)">Save</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.close()">Close</button>
    </div>
</div>
