<div class="admin-classes-section">
    <div class="pane">
        <div class="form-group row">
            <label for="status" class="col-2 col-form-label">Status</label>
            <div class="col-10">
                <select ng-click="getClasses()" class="form-control" ng-model="ctrl.selected_status"  ng-change="ctrl.filterChanged()" id="status">
                      <option value="true" selected>Active</option>
                        <option value="false">Archived</option>
                </select>
            </div>
        </div>
        <button class="btn btn-success" ng-click="ctrl.openAddModal()">Add Class</button>
      
        <div class="classes-section">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Info</th>
                    <th>Remove</th>
                </tr>
                <tr class="class_row" ng-repeat="class in ctrl.classes | filter:{active:ctrl.selected_status}">
                    <td ng-click="ctrl.openModal(class)">{{class.name}}</td>
                    <td ng-click="ctrl.openModal(class)">{{class.location}}</td>
                    <td ng-click="ctrl.openModal(class)">{{class.day}}</td>
                    <td ng-click="ctrl.openModal(class)">{{class.startTime | date:'shortTime'}}</td>
                    <td ng-click="ctrl.openModal(class)">{{class.startDate | date}}</td>
                    <td ng-click="ctrl.openModal(class)">{{class.endDate | date}}</td>

                    <td ng-click="ctrl.openInfoModal(class)">
                        <button class="btn btn-primary">Info</button>
                    </td>
                    <td>
                        <button ng-if="class.active" class="btn btn-warning" ng-click="ctrl.removeClass(class)">Remove</button>
                        <button ng-if="!class.active" class="btn btn-success" ng-click="ctrl.unArchiveClass(class)">Activate</button>
                    </td>
                </tr>
            </table>
            <div ng-if="ctrl.selectedClass">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="stud in ctrl.students">
                        <td>{{stud.User.name}}</td>
                        <td>{{stud.status}}</td>
                    </tr>
                </table>
            </div>
</div>
