.admin-classes-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    align-content: space-between;
    .pane {
        width: 100%;
    }
    .right-pane{
        margin-top:25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:50%;
    }
    .left-pane{
        width:50%;
    }
    .class_table {
        width: 100%;
    }
    .new-class-section{
        label{
            margin-right:10px;
        }
    }
    .class_row:hover {
        cursor: pointer;
        background: gainsboro;
    }
}

.class-modal{
    
}
