<div class="container">
  <h2>Welcome, {{ctrl.myUser.name}}</h2>
<!-- LOOK AT https://angular-ui.github.io/bootstrap/ FOR
DOCS ON USEFUL COMPONENTS TO USE FOR THE UI (like uib-tabset),
 IT IS JUST PLUG AND PLAY, NO IMPORTING OR ANYTHING REQUIRED-->

  <uib-tabset active="active">
    <uib-tab index="0" heading="My Classes">
        <h3>Upcoming Class Sessions</h3>
        <div ng-if="ctrl.myUpcomingSessions.length !== 0">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Planned Attendance</th>
                </tr>
                <tr ng-repeat="session in ctrl.myUpcomingSessions.slice(((ctrl.currentPage-1)*ctrl.itemsPerPage), ((ctrl.currentPage)*ctrl.itemsPerPage)) | filter:{plannedAttendance:'!'+'No'} | orderBy:'date':true  "}>
                    <td>{{session.ClassSession.Class.name}}</td>
                    <td>{{session.ClassSession.date | date}}</td>
                    <td>{{session.ClassSession.Class.location}}</td>
                    <td>{{session.ClassSession.Class.startTime | date: 'HH:mm a' }}</td>
                    <td>{{session.plannedAttendance}}</td>
                </tr>
            </table>
            <ul uib-pagination total-items="ctrl.myUpcomingSessions.length" ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()"></ul>
        </div>
        <div ng-if="ctrl.myUpcomingSessions.length === 0">You have no upcoming sessions. Sign up for some in the "Classes" tab!</div>
    </uib-tab>
    <uib-tab index="1" heading="Classes">
        <label for="itemsPerPageSelect">Sessions per page</label>
        <select class="form-control" ng-model="ctrl.itemsPerPage" ng-options="num as num for num in ctrl.itemsPerPageOptions" id="itemsPerPageSelect">
        </select>
        <h3>Session Sign-Up</h3>
        <div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Attending</th>
                </tr>
                <tr ng-repeat="session in ctrl.upcomingSessions.slice(((ctrl.currentPage-1)*ctrl.itemsPerPage), ((ctrl.currentPage)*ctrl.itemsPerPage))">
                    <td>{{session.Class.name}}</td>
                    <td>{{session.date | date}}</td>
                    <td>{{session.Class.startTime | date: 'HH:mm a'}}</td>
                    <td ng-if="ctrl.checkSession(session._id)">
                        <select class="form-control" ng-model="ctrl.userSessions[session._id].plannedAttendance" ng-options="attendance for attendance in ctrl.attendanceOptions" ng-change="ctrl.updateAttendance(session)"></select>
                    </td>
                    <td ng-if="!ctrl.checkSession(session._id)">
                        <select class="form-control" ng-model="ctrl.userSessions[session._id].plannedAttendance" ng-options="attendance for attendance in ctrl.attendanceOptions" ng-change="ctrl.createAttendance(session)"></select>
                    </td>
                </tr>
            </table>
            <ul uib-pagination total-items="ctrl.totalSessions" ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()"></ul>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="Class Info">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Day</th>
                <th>Dates</th>
                <th>Time</th>
            </tr>
            <tr ng-repeat="course in ctrl.classes.slice(((ctrl.currentPage-1)*ctrl.itemsPerPage), ((ctrl.currentPage)*ctrl.itemsPerPage)) | filter :{active:true}"  ng-click="ctrl.showDetails(course)" style="cursor:pointer">
                <td>{{course.name}}</td>
                <td>{{course.location}}</td>
                <td>{{course.day}}</td>
                <td>{{course.startDate | date}} to {{course.endDate | date}}</td>
                <td>{{course.startTime | date: 'HH:mm a' }} to {{course.endTime | date: 'HH:mm a'}}</td>
            </tr>
        </table>
        <ul uib-pagination total-items="ctrl.classes.length" ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()"></ul>
        <div ng-if="ctrl.selectedCourse">
            <h3>{{ctrl.selectedCourse.name}} Information</h3>
            <div>{{ctrl.selectedCourse.info}}</div><br><br>
            <div ng-if="ctrl.selectedCourse.documentURL">
                <a href="{{ctrl.selectedCourse.documentURL}}">Click here for more information about volunteering for the {{ctrl.selectedCourse.name}} course!</a>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="3" heading="Profile">
        <div ng-if="ctrl.myUser" class="edit-volunteer-section">
            <h3>Edit {{ctrl.myUser.name}}</h3>
            <div class="form-group">
                <label>Name</label>
                <input ng-blur="ctrl.updateProfile()" type="text" class="form-control" ng-model="ctrl.myUser.name"/>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input ng-blur="ctrl.updateProfile()" type="text" class="form-control" ng-model="ctrl.myUser.email"/>
            </div>

            <div class="form-group">
                <label>Organization</label>
                <input ng-blur="ctrl.updateProfile()" type="text" class="form-control" ng-model="ctrl.myUser.organization"/>
            </div>

            <button class="btn btn-primary" ng-click="ctrl.updateProfile()">Save</button>
        </div>
    </uib-tab>

  </uib-tabset>

</div>
