<div class="container">
  <h2>Welcome to the volunteer section</h2>


<!-- LOOK AT https://angular-ui.github.io/bootstrap/ FOR
DOCS ON USEFUL COMPONENTS TO USE FOR THE UI (like uib-tabset),
 IT IS JUST PLUG AND PLAY, NO IMPORTING OR ANYTHING REQUIRED-->

  <uib-tabset active="active">

    <uib-tab index="0" heading="My Classes">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Days</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="course in ctrl.my_classes">
                <td>{{course.Class.name}}</td>
                <td>{{course.Class.location}}</td>
                <td>{{course.Class.days}}</td>
                <td>{{course.Class.startTime | date:'MM/dd/yyyy' }} to {{course.Class.endTime | date:'MM/dd/yyyy' }}</td>
                <td>{{course.status}}</td>
            </tr>
        </table>
    </uib-tab>

    <uib-tab index="1" heading="All Classes">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Dates</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="course in ctrl.classes">
                <td>{{course.name}}</td>
                <td>{{course.location}}</td>
                <td>{{course.days}}</td>
                <td>{{course.startTime | date:mediumTime }} to {{course.endTime | date:mediumTime }}</td>
                <td>
                    <button ng-if="ctrl.showRequest(course)" ng-click="ctrl.request_course(course)" class="btn btn-primary">Request</button>
                    <div ng-if="!ctrl.showRequest(course)">Requested</div>
                </td>
            </tr>
            
        </table>
    </uib-tab>

    <uib-tab index="2" heading="Profile">
        <div class="test-class">
            Name:
            {{ctrl.myUser.name}}<br>
            Email:
            {{ctrl.myUser.email}}<br>
            Role:
            {{ctrl.myUser.role}}<br>
            Organization:
            {{ctrl.myUser.organization}}<br>
            Primary Language:
            {{ctrl.myUser.primaryLanguage}}<br>
            Added on:
            {{ctrl.myUser.createdAt | date }}<br>
            <button>Edit</button>
        </div>
    </uib-tab>

  </uib-tabset>

</div>
